{% extends 'inicio/encabezado.html' %} {% block titulo %} Contacto {% endblock %}
{% comment %} Contenido de Contacto {% endcomment %}
{% block contenido %}
<br><br>

<form method="POST">
{% csrf_token %}
<!-- Alerta -->
<div class="card card-body">

    <p class="card-text">
           ¿Desea Eliminar?
    </p>
<!-- /Alerta -->
<button type="submit" class="btn btn-danger m-3">Eliminar</button>
<a href="{%url 'ConsultaContacto'%}" class="btn btn-primary m-3">Cancelar</a>
</form>
</div>
{% endblock %}